@use '../abstracts/variables' as vars;
body {
  font-family: vars.$font-primary;
  color: vars.$color-white;
  background-color: vars.$color-black;
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  font-family: vars.$font-heading;
  font-weight: 600;
}
