@use '../abstracts/variables' as vars;

body {
  font-family: vars.$font-primary;
  color: vars.$color-white;
  line-height: 1.7;
  background-color: vars.$color-black;
}

h1,
h2,
h3,
h4 {
  font-family: vars.$font-heading;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: clamp(2.5rem, 5vw, 3.5rem);
}

h2 {
  font-size: clamp(2rem, 4vw, 2.75rem);
}

h3 {
  font-size: 1.5rem;
}

p {
  max-width: 65ch;
}
