*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-base);
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-black);
  color: var(--color-white);
  line-height: var(--line-height-base);
  -webkit-font-smoothing: antialiased;
}
